<div class="species-search">
  <mat-form-field appearance="outline">
    <mat-label>Search</mat-label>
    <input
      matInput
      [(ngModel)]="search"
      (keyup)="searchChanged$.next(undefined)"
    />

    <button
      mat-icon-button
      matSuffix
      type="button"
      (click)="clearSearch()"
    >
      <mat-icon>close</mat-icon>
    </button>
  </mat-form-field>
</div>

<ng-container *ngIf="speciesStatus$ | async as speciesStatus">
  <ng-container [ngSwitch]="speciesStatus">
    <div
      *ngSwitchCase="'idle'"
      class="species-list"
    >
      <a
        *ngFor="let species of speciesList$ | async"
        class="species-list__item"
        [routerLink]="['/species', species.id]"
      >
        <img
          [src]="species.image"
          [alt]="species.name"
          class="species-image"
        />
        <div class="species-info">
          <div class="species-info__id">
            <em>#{{ species.id }}</em>
          </div>
          <div class="species-info__name">
            {{ species.name[0].toUpperCase() + species.name.slice(1) }}
          </div>
        </div>
      </a>
    </div>

    <div
      *ngSwitchCase="'loading'"
      class="species-list--loading"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div
      *ngSwitchCase="'error'"
      class="species-list--error"
    >
      Error
    </div>
  </ng-container>
</ng-container>

<aside class="discover">
  <button
    mat-fab
    color="primary"
    aria-label="Send a Pokemon photo to discover its species"
    (click)="openDiscoverModal()"
  >
    <mat-icon>add_a_photo</mat-icon>
  </button>
</aside>
