<ng-container *ngIf="speciesStatus$ | async as speciesStatus">
  <ng-container [ngSwitch]="speciesStatus">
    <div
      *ngSwitchCase="'idle'"
      class="species"
    >
      <ng-container *ngIf="species$ | async as species">
        <img
          [src]="species.image"
          [alt]="species.name"
          class="species-image"
        />

        <div class="species-title">
          <span class="species-title__id">
            <em>#{{ species.id }}</em>
          </span>
          <span class="species-title__name">
            {{ species.name[0].toUpperCase() + species.name.slice(1) }}
          </span>
        </div>

        <div class="species-description">
          {{ species.description }}
        </div>

        <div class="species-genre">
          <label class="species-genre__label">Genre:</label>
          <span class="species-genre__value">{{ species.genre }}</span>
        </div>

        <div class="species-types">
          <label class="species-types__label">Types:</label>
          <div
            *ngFor="let type of species.types"
            class="species-types__item"
          >
            {{ type }}
          </div>
        </div>

        <div class="species-weight">
          <label class="species-weight__label">Weight:</label>
          <span class="species-weight__value">{{ species.weight }} Kg</span>
        </div>

        <div class="species-height">
          <label class="species-height__label">Height:</label>
          <span class="species-height__value">{{ species.height }} Meters</span>
        </div>
      </ng-container>
    </div>

    <div
      *ngSwitchCase="'loading'"
      class="species-list--loading"
    >
      <mat-spinner></mat-spinner>
    </div>

    <div
      *ngSwitchCase="'error'"
      class="species-list--error"
    >
      Error
    </div>
  </ng-container>
</ng-container>
