:host {
  display: block;

  mat-toolbar {
    .spacer {
      flex: 1 1 auto;
    }
  }

  .content-wrapper {
    width: 100%;
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    box-sizing: border-box;
  }
}
